body{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
}
h1{
    font-size: 48px;
    font-family: Arial, sans-serif;
    transition: transform 0.3s ease-in-out;
}
h1:hover {
    transform: scale(1.2);
}